#fluid-jumbotron-example {

  .main-img-container {
    position: relative;

    .card {
      position: absolute;
      top: 55%;
      left: 50%;
      opacity: .7;
    }

    .fa-quote-left {
      font-size: 30px;
    }
  }

}
