<h1 class="pb-3">Characters</h1>
<div class="row justify-content-around">
    {{#each this}}
    <div class="card col-md-3 m-2">
      <img class="card-img-top img-fluid pt-3 background-img" src="https://images.pexels.com/photos/2078774/pexels-photo-2078774.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="background of skyscrapers looking at sky">
      <img class="img-fluid avatar-img" src="{{image}}" alt="person avatar">
      <div class="card-body text-center">
        <h3 class="card-title">{{name}} {{#if rank}} <span class="rank">({{rank}})</span>{{/if}}</h3>
        {{#if team}}
        <h5 class="card-title">{{team}}</h5>
        {{/if}}
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    {{/each}}
</div>
