<table class="table">
  <caption id="season-number"></caption>
  <thead>
    <th>#</th>
    <th>Title</th>
  </thead>
  <tbody id="season-info">
    {{#each this}}
      <tr>
        <td>{{episode}}</td>
        <td>{{title}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
